# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\ecommerce-website-in-django-3-and-bootstrap-4-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
